body{
  height: 100vh;
  margin: 0;
}
pre {
  margin:0;
}
.App,#root{
  height: 100%;
}
.App {
  text-align: center;
}
select:focus{
  box-shadow: 0 0 0 0px rgb(16 112 202 / 14%), inset 0 0 0 1px rgb(67 90 111 / 30%), inset 0 0 0px 0 rgb(67 90 111 / 14%) !important;
}
label, input:focus, a:focus{
  outline: 0!important;
  box-shadow: none!important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
